
header
  h2 Menu
  p Docs, Installation, Usage, API
section.menu-section
  h3.menu-section-title JSON
  ul.menu-section-list
    li: a(href="/convert/json2yaml") convert JSON → YAML
    li: a(href="/convert/json2cson") convert JSON → CSON
    li: a(href="/format/json") format JSON
    li: a(href="/minify/json") minify JSON
  h3.menu-section-title YAML
  ul.menu-section-list
    li: a(href="/convert/yaml2json") convert YAML → JSON
  h3.menu-section-title CSON
  ul.menu-section-list
    li: a(href="/convert/cson2json") convert CSON → JSON
  h3.menu-section-title XML
  ul.menu-section-list
    li: a(href="/format/xml") format XML
    li: a(href="/minify/xml") minify XML
section.menu-section
  h3.menu-section-title Markdown
  ul.menu-section-list
    li: a(href="/convert/markdown2html") convert Markdown → HTML
    li: a(href="/view/markdown") view Markdown
  h3.menu-section-title HTML
  ul.menu-section-list
    li: a(href="/convert/html2markdown") convert HTML → Markdown
    li: a(href="/format/html") format HTML
section.menu-section
  h3.menu-section-title CSS
  ul.menu-section-list
    li: a(href="/format/css") format CSS
    li: a(href="/minify/css") minify CSS
  h3.menu-section-title Sass
  ul.menu-section-list
    li: a(href="/convert/sass2css") convert Sass → CSS
  h3.menu-section-title Scss
  ul.menu-section-list
    li: a(href="/convert/scss2css") convert SCSS → CSS
  h3.menu-section-title Less
  ul.menu-section-list
    li: a(href="/convert/less2css") convert Less → CSS
section.menu-section
  h3.menu-section-title JavaScript
  ul.menu-section-list
    li: a(href="/convert/js2coffee") convert JavaScript → CoffeeScript
    li: a(href="/format/js") format JavaScript
    li: a(href="/minify/js") minify JavaScript
  h3.menu-section-title CoffeeScript
  ul.menu-section-list
    li: a(href="/convert/coffee2js") convert CoffeeScript → JavaScript
    li: a(href="/convert/coffee2es6") convert CoffeeScript → ES6 JavaScript
  h3.menu-section-title TypeScript
  ul.menu-section-list
    li: a(href="/convert/type2js") convert TypeScript → JavaScript
    
