doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(http-equiv="cleartype" content="on")
    meta(name="MobileOptimized" content="320")
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
    
    block scripts
      script(src="/javascripts/lib/jquery-2.2.1.min.js")
      script(src="/javascripts/lib/slideout.min.js")
      script(src="/javascripts/slideout.js")
      
  body
    nav#menu
      header
        h2 Menu
        p Docs, Installation, Usage, API
      section(class="menu-section")
        h3(class="menu-section-title") JSON
        ul(class="menu-section-list")
          li: a(href="/convert/json2yaml") convert json → yaml
          li: a(href="/convert/json2cson") convert json → cson
          li: a(href="/format/json") format json
        h3(class="menu-section-title") YAML
        ul(class="menu-section-list")
          li: a(href="/convert/yaml2json") convert yaml → json
        h3(class="menu-section-title") CSON
        ul(class="menu-section-list")
          li: a(href="/convert/cson2json") convert cson → json
      section(class="menu-section")
        h3(class="menu-section-title") Markdown
        ul(class="menu-section-list")
          li: a(href="/convert/markdown2html") convert markdown → html
          li: a(href="/view/markdown") view markdown
        h3(class="menu-section-title") HTML
        ul(class="menu-section-list")
          li: a(href="/convert/html2markdown") convert html → markdown
          li: a(href="/format/html") format html
      section(class="menu-section")
        h3(class="menu-section-title") CSS
        h3(class="menu-section-title") Sass
        ul(class="menu-section-list")
          li: a(href="/convert/sass2css") convert Sass → CSS
        h3(class="menu-section-title") Scss
        ul(class="menu-section-list")
          li: a(href="/convert/scss2css") convert SCSS → CSS
        h3(class="menu-section-title") Less
        ul(class="menu-section-list")
          li: a(href="/convert/less2css") convert Less → CSS

    main#panel
      header
        span(class="slideout-menu-toggle-button") ☰
        
      block content
