//- this will be included by convert/xxx2yyy.jade

link(rel="stylesheet", type="text/css", href="/CodeMirror/lib/codemirror.css")
link(rel="stylesheet", type="text/css", href="/stylesheets/CodeMirrorCustomize.css")
script(type="application/javascript", src="/CodeMirror/lib/codemirror.js")
script(type="application/javascript", src="/CodeMirror/addon/edit/closebrackets.js")
