extends ../layout

block prepend stylesheets
  link(rel="stylesheet", type="text/css", href="/CodeMirror/lib/codemirror.css")

block append scripts
  script(type="application/javascript", src="/CodeMirror/lib/codemirror.js")
  script(type="application/javascript", src="/CodeMirror/addon/edit/closebrackets.js")
  script(type="application/javascript", src="/CodeMirror/mode/coffeescript/coffeescript.js")
  script.
    window.editorFromOption = {};
    window.editorToOption   = { mode: 'coffeescript' };
  script(type="application/javascript", src="/javascripts/convert/process.js")

block content
  h1= title
  
  - var convertFrom = 'JSON'
  - var convertTo   = 'CSON'
  include ../layout-convert.jade
