extends ../layout-converter
  
block append scripts
  script(src="/CodeMirror/mode/yaml/yaml.js")
  script.
    window.editorFromOption = {};
    window.editorToOption   = { mode: 'yaml' };
  script(src="/javascripts/converter/process.js")

block content
  
