extends ../layout-converter

block append scripts
  script.
    window.editorFromOption = {}; // mode: json
    window.editorToOption   = {}; // mode: json
  script(src="/javascripts/converter/process.js")

block append content
  
