extends ../layout-converter

block append scripts
  script(src="/CodeMirror/mode/coffeescript/coffeescript.js")
  script.
    window.editorFromOption = {}; // mode: json
    window.editorToOption   = { mode: 'coffeescript' };
  script(src="/javascripts/converter/process.js")

block append desc
  
