extends ../layout

block prepend stylesheets
  link(rel="stylesheet", href="/CodeMirror/lib/codemirror.css")

block append scripts
  script(src="/CodeMirror/lib/codemirror.js")
  script(src="/CodeMirror/addon/edit/closebrackets.js")
  script(src="/CodeMirror/mode/markdown/markdown.js")
  script(src="/CodeMirror/mode/xml/xml.js")
  script(src="/CodeMirror/mode/css/css.js")
  script(src="/CodeMirror/mode/javascript/javascript.js")
  script(src="/CodeMirror/mode/htmlmixed/htmlmixed.js")
  script.
    window.editorFromOption = { mode: 'markdown' };
    window.editorToOption   = { mode: 'htmlmixed' };
  script(src="/javascripts/convert/process.js")

block content
  h1= title
  
  - var convertFrom = 'Markdown'
  - var convertTo   = 'HTML'
  include ../layout-convert.jade
