extends ../layout-viewer

block append scripts
  script(src="/CodeMirror/mode/markdown/markdown.js")
  script.
    window.editorFromOption = { mode: 'markdown' };
  script(src="/javascripts/viewer/process.js")

block append desc
  
