extends ../layout

block prepend stylesheets
  link(rel="stylesheet", href="/CodeMirror/lib/codemirror.css")

block append scripts
  script(src="/CodeMirror/lib/codemirror.js")
  script(src="/CodeMirror/addon/edit/closebrackets.js")
  script(src="/CodeMirror/mode/yaml/yaml.js")
  script.
    window.editorFromOption = { mode: 'yaml' };
    window.editorToOption   = {};
  script(src="/javascripts/convert/process.js")

block content
  h1= title
  
  - var convertFrom = 'YAML'
  - var convertTo   = 'JSON'
  include ../layout-convert.jade
