extends ../layout-converter

block append scripts
  script(src="/CodeMirror/mode/yaml/yaml.js")
  script.
    window.editorFromOption = { mode: 'yaml' };
    window.editorToOption   = {};
  script(src="/javascripts/converter/process.js")

block append content
  
