extends ../layout-converter

block append scripts
  script(src="/CodeMirror/mode/css/css.js")
  script.
    window.editorFromOption = { mode: 'css' };
    window.editorToOption   = { mode: 'css' };
  script(src="/javascripts/converter/process.js")

block append desc
  
