extends ../layout

block prepend stylesheets
  link(rel="stylesheet", type="text/css", href="/CodeMirror/lib/codemirror.css")

block append scripts
  script(type="application/javascript", src="/CodeMirror/lib/codemirror.js")
  script(type="application/javascript", src="/CodeMirror/addon/edit/closebrackets.js")
  script(type="application/javascript", src="/CodeMirror/mode/sass/sass.js")
  script(type="application/javascript", src="/CodeMirror/mode/css/css.js")
  script.
    window.editorFromOption = { mode: 'sass' };
    window.editorToOption   = { mode: 'css' };
  script(type="application/javascript", src="/javascripts/convert/process.js")

block content
  h1= title
  
  - var convertFrom = 'Sass'
  - var convertTo   = 'CSS'
  include ../layout-convert.jade
