extends ../layout-converter

block append scripts
  script(src="/CodeMirror/mode/coffeescript/coffeescript.js")
  script.
    window.editorFromOption = { mode: 'coffeescript' };
    window.editorToOption   = {}; // mode: 'json'
  script(src="/javascripts/converter/process.js")

block append desc
  h3 About CSON
  p CSON is a CoffeeScript-style JSON.
