extends ../layout-converter

block append scripts
  script(src="/CodeMirror/mode/xml/xml.js")
  script(src="/CodeMirror/mode/css/css.js")
  script(src="/CodeMirror/mode/javascript/javascript.js")
  script(src="/CodeMirror/mode/htmlmixed/htmlmixed.js")
  script(src="/CodeMirror/mode/markdown/markdown.js")
  script.
    window.editorFromOption = { mode: 'htmlmixed' };
    window.editorToOption   = { mode: 'markdown' };
  script(src="/javascripts/convert/process.js")

block append content
  
