extends ../layout-converter

block append scripts
  script(src="/CodeMirror/mode/xml/xml.js")
  script.
    window.editorFromOption = { mode: 'xml' };
    window.editorToOption   = { mode: 'xml' };
  script(src="/javascripts/converter/process.js")

block append content
  
